<div class="list row">
  <div class="col-md-6">
    <h3> Payment Section</h3>
    <!-- <div> Book Title: {{ orderInfo.title }} </div>
    <div> <strong>Price: {{ orderInfo.price }} </strong> </div> -->
    <div class="list row">
      <div class="col-md-3">
        <button (click)="orderBook()" class="btn btn-primary mt-3">Order Now</button>
      </div>
      <div class="col-md-3">
        <button (click)="redirectToBooksPage()" class="btn btn-danger mt-3">Back</button>
      </div>
    </div>
    <p>{{ message }}</p>
  </div>
</div>
